.bitcoin-img-container {
  background: url("../assets/img/bitcoinbaby1punto5x.jpg") center/cover no-repeat;
}
.plans-container__card, .plans-container__card--deluxe {
  margin: 0 9vw ;
}
.wrapper {
  padding-right: 50vw;
}